@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

:root {
  --branco: #fff;
  --bt-primary: #13761f;
  --bt-hover: #16ac28;
}

main {
  display: flex;
  flex-direction: column;
  width: 100wv;
  height: 100vh;
  background: url("./img/bg.jpg");
  background-size: cover;
  align-items: center;
}

.titulo {
  font-size: 90px;
  font-family: "Press Start 2P", system-ui;
  color: var(--branco);
  padding-top: 5rem;
}

.subtitulo {
  color: var(--branco);
  font-size: 22px;
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 2.5rem 0;
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 210px);
  gap: 1.5em;
  width: 100%;
  margin: 0 auto;
}

.cards {
  margin-top: 5rem;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  position: relative;
  /* transição começa devagar e acelera no meio e desacelera no final */
  transition: all 400ms ease;
  background-color: #16ac28;
}

.cards:hover {
  transform: rotateY(180deg);
}

.imagem {
  width: 100%;
  height: 100%;
  position: absolute;
}

.frente {
  background-color: blue;
  backface-visibility: hidden;
}

.verso {
  background-color: #333;
  background-image: url(./img/verso-card.png);
  /* backface-visibility: hidden; */
}

#form_button {
  margin-top: 10rem;
  background: var(--bt-primary);
  color: var(--branco);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: solid 2px #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

/* #form_button:disabled {
  background-color: #d2d1d1;
  border: none;
  color: #aaa;
  cursor: auto;
} */

@media screen and (max-width: 480px) {
  main {
    padding-top: 10em;
  }

  .titulo {
    font-size: 45px;
    padding-left: 0.5rem;
    text-align: center;
    line-height: 1.2em;
  }

  .subtitulo {
    font-size: 14px;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    line-height: 1.2rem;
  }

  #form_button {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}
