@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

:root {
  --branco: #fff;
  --bt-primary: #13761f;
  --bt-hover: #16ac28;
}

main {
  display: flex;
  flex-direction: column;
  width: 100wv;
  height: 100vh;
  background: url("./img/bg.jpg");
  background-size: cover;
  align-items: center;
}

.titulo {
  font-size: 90px;
  font-family: "Press Start 2P", system-ui;
  color: var(--branco);
  padding-top: 5rem;
}

.subtitulo {
  color: var(--branco);
  font-size: 22px;
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 2.5rem 0;
  font-weight: 300;
}

#form_button {
  background: var(--bt-primary);
  color: var(--branco);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: solid 2px #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

#form_button:disabled {
  background-color: #d2d1d1;
  border: none;
  color: #aaa;
  cursor: auto;
}

@media screen and (max-width: 480px) {
  main {
    padding-top: 10em;
  }

  .titulo {
    font-size: 45px;
    padding-left: 0.5rem;
    text-align: center;
    line-height: 1.2em;
  }

  .subtitulo {
    font-size: 14px;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    line-height: 1.2rem;
  }

  #form_button {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}
